/* Global */

body {
background:#f5f5f5;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

a{ 
  text-decoration: none;
  color: #2f2f2f;
  
}
a:hover{
  color: #FF7200;
  text-decoration: none;
}
a:focus{
  outline: none;
  text-decoration: none;
}

h2{ 
  line-height: 23px;
}
img{
 border:none;
}
img:hover{
  opacity: 0.75;
}

/* Navbar */

#navArea{
  float: left;
  display: inline;
  width: 100%;
  padding: 0px 30px;
  background-color: #fff;
}
.navbar {
  border: medium none;
  border-radius: 0;
  background-color: #252525;
}
.navbar-inverse .navbar-nav > li > a {
  border-left: 1px solid #383838;
  color: #ddd;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 14px;
  text-shadow: 0 1px 1px #000;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -mz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header-nav {
    padding-left: 0px;
    padding-right: 0px;
}


.navbar-inverse .navbar-nav > .active > a.ng-binding {
  background-color: #E63900;
}

.navbar-inverse .navbar-nav > .active > a.dropdown-toggle {
  background-color: #E63900;
}  

.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #FF7200;
}

.navbar-collapse {
    padding-left: 0px;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
}

.navbar-inverse .navbar-nav > li:first-child a{
  border: none;
  font-size: 24px;
}

.navbar-inverse .navbar-nav > li:first-child a:hover {
  color: #fff;
}

.inverse-dropdown{
  background-color: #222;
  border-color: #080808;
  &>li>a{
    color: #fff;
    &:hover{
      color: #fff;
      background-color: #FF7200;
    }
  }
}

.dropdown-menu{
  border-radius: 1px;
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #E63900;
    color: #fff; }

.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
  background-color: #E63900;
} 

/* Navbar Search*/

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-brand:hover,  {
  color: #fff;
  background-color: #FF7200;
}

.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: #E63900;
}

.navbar-inverse .navbar-toggle {
    color: #ddd;
}

.btn-warning {
  color: #fff;
  background-color: #FF7200;
  border-color: #FF7200;
}

.btn-warning:hover, 
.btn-warning:focus, 
.btn-warning.focus, 
.btn-warning:active, 
.btn-warning.active, 
.open > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #E63900;
  border-color: #E63900;
}


.btn {
  border-radius: 1px;
  padding: 7px 12px;
}

.btn:focus {
  border-color: #FF7200;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 114, 0, 0.8);
}

.navbar-form {
  box-shadow: none;
  border-top: 0px;
  border-bottom: 0px;
}

/* FOOTER */


.footer {
  background-image: url(/images/emi-footer.png); 
  background-size: contain;
  background-color: #252525;
  color: #ddd;
  display: inline;
  float: left;
  padding: 10px 30px 48px;
  width: 100%;
}

.footer a {
  color: inherit;
}

.footer a:hover {
  color: #FF7200;
  opacity: 0.75;
}

.footer_widget>h2 {
  border-bottom: 3px solid #666666;
  font-family: Helvetica,arial,Georgia,serif;
  font-size: 16px;
  padding: 10px 0;
  text-transform: uppercase;
}

h2 {
  line-height: 23px;
}

.navbar-logo {
  max-width:100%;
  max-height:100%;
}

/* NavBar Collapse */

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px auto;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.navbar-form .navbar-left {
  width: 10px;
}

.search-input {
      display: inline-block;
      max-width: 44%;
      vertical-align: middle;
      height: 36px;
      padding: 6px 12px;
      color: #555555;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 1px;
      margin-right: 2px;
    }

.search-input:focus {
  border-color: #FF7200;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 114, 0, 0.8);
}

.navbar-form {
  padding: 0px 15px;
}


//About team

p.ng-binding {
  margin: 0px;
}

.panel {
  border-radius: 1px; 
}

.panel-default > .panel-heading {
  background-color: #97BBCD;
}

//Thumbnails

.thumbnail {
  height: 510px;
  border-radius: 1px;
  border: none; 
}

.media-object {
  width: 112px;
  margin: 3px;
}

.single_post_content h2 {
    background: #252525 none repeat scroll 0px 0px;
    color: #FFF;
    font-size: 26px;
    font-weight: 400;
    margin-left: 0px;
    margin-top: 5px;
    padding: 0px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.single_post_content h2 span {
    background: #E63900 none repeat scroll 0px 0px;
    padding: 6px 12px;
}

.disabled {
   pointer-events: none;
   cursor: default;
}


//Pagination

.pagination > li > a{
  color: inherit; 
}

.pagination > li > a:hover, 
.pagination > li > a:focus, 
.pagination > li > span:hover, 
.pagination > li > span:focus {
  color: white;
  background-color: #FF7200;
}


/*

.inverse-dropdown > li > a:hover   


.main-nav ul li a {
}

.mobile-show{
  display: none;
}



.inverse-dropdown > li > a:hover {
  background-color: #FF7200;
}

.navbar-inverse .navbar-brand {
  color: #FF7200;
  background-color: inherit;
} 

.navbar-inverse .navbar-brand :hover {
  color: #ffffff;
  background-color: #FF7200;
  font-size: 24px
}
*/






