@import 'vars';
@import 'typography';
@import 'node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}

.inverse-dropdown{
  background-color: #222;
  border-color: #080808;
  &>li>a{
    color: #999;
    &:hover{
      color: #fff;
      background-color: #000;
    }
  }
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

md-whiteframe.clickable {
    background-color: #ffffff;
    text-align: center;
}

md-whiteframe.clickable:hover {
//    border: 1px solid #809fcc;
    background-color: #f1f1f1;
    cursor: pointer;
    box-shadow: 5px 10px 10px -3px rgba(0,0,0,.2),8px 12px 13px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
    -webkit-box-shadow:5px 10px 10px -3px rgba(0,0,0,.2),8px 12px 13px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
    -moz-box-shadow:5px 10px 10px -3px rgba(0,0,0,.2),8px 12px 13px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
    -o-box-shadow:5px 10px 10px -3px rgba(0,0,0,.2),8px 12px 13px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
}
