@import 'vars';
@import 'typography';
@import 'node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}

.inverse-dropdown{
  background-color: #222;
  border-color: #080808;
  &>li>a{
    color: #999;
    &:hover{
      color: #fff;
      background-color: #000;
    }
  }
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

md-whiteframe.clickable {
    background-color: #ffffff;
    text-align: center;
}

md-whiteframe.clickable:hover {
//    border: 1px solid #809fcc;
    background-color: #f1f1f1;
    cursor: pointer;
    box-shadow: 5px 10px 10px -3px rgba(0,0,0,.2),8px 12px 13px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
    -webkit-box-shadow:5px 10px 10px -3px rgba(0,0,0,.2),8px 12px 13px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
    -moz-box-shadow:5px 10px 10px -3px rgba(0,0,0,.2),8px 12px 13px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
    -o-box-shadow:5px 10px 10px -3px rgba(0,0,0,.2),8px 12px 13px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
}

.img-thumbnail-partners {
  padding: 4px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  width: 120px;
  height: 50px;  
}

.img-image-teams {
  padding: 4px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  width: 140px;
  height: 140px; 
  float: right; 
}

.img-thumbnail-partners:hover {
  border: 2.5px solid #d0d0d0;
}

html,body {
  height:100%;
}

#wrap {
  min-height: 100%; 
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.banner {
//  background-image: url(/images/footer1.jpg);
  //width:100%;
  height:150px;
//  background-size:cover;
}

.banner img {
  width:100%;
  height:150px;
}

footer {
  color: #ffffff;
  background-image: url(/images/footer1.jpg);
  padding: 17px 0 18px 0;
  border-top: 1px solid #000;
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 350px;
  clear:both;
  padding-top:20px;
}

.text-snippet{
    width: 300px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 3px solid #777;
    max-height:200px;
    overflow:hidden;
    text-overflow: ellipsis;
    content: "";
    position:relative;
}

.text-snippet:before {
    content:'';
    width:100%;
    height:100%;    
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 150px, white);
}
