<div ng-controller="AdminArticlesCtrl">
   <ui-view/>
   <div >
     <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" bind-html-compile="alert.msg"></uib-alert>
     <div class="info-row-admin-large">
       <div class="admin btn-group">
        <label class="btn btn-primary" ng-model="articleType.news" uib-btn-checkbox>Новини</label>
        <label class="btn btn-primary" ng-model="articleType.emis" uib-btn-checkbox>Анализи на EMI</label>
        <label class="btn btn-primary" ng-model="articleType.summaries" uib-btn-checkbox>Анализи - Резюмета</label>
        <!--<label class="btn btn-primary" ng-model="showAllCategories.selected" ng-click="showAllCategoriesClick()" uib-btn-checkbox>Покажи всички</label>-->
       </div>

       <div class="admin btn-group">
         <label class="btn btn-success" ng-model="publishedFilter.published" uib-btn-checkbox>Публикувани</label>
         <label class="btn btn-success" ng-model="publishedFilter.notPublished" uib-btn-checkbox>Непубликувани</label>
       </div>
       <label class="btn btn-danger" ui-sref="app.admin.newarticle">Създаване на нова статия</label>
      </div>
      <nav>
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous" ng-click="previousPage()" ng-disabled="!hasPrev()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
           <li class="disabled"><a href="#">{{'PAGE' | translate}} {{page}} {{'OF' | translate}} {{pageCount}}</a></li>
          <li>
            <a href="#" aria-label="Next" ng-click="nextPage()" ng-disabled="!hasNext()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

      <div ng-repeat="article in articles">
         <div class="col-sm-12 col-md-12">
            <flat-admin-article></flat-admin-article>
         </div>
      </div>

      <nav>
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous" ng-click="previousPage()" ng-disabled="!hasPrev()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
           <li class="disabled"><a href="#">{{'PAGE' | translate}} {{page}} {{'OF' | translate}} {{pageCount}}</a></li>
          <li>
            <a href="#" aria-label="Next" ng-click="nextPage()" ng-disabled="!hasNext()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
   </div>
</div>
