<div ng-controller="AdminArticleCtrl">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  <button ng-click="save()">Запис</button>

  <div class="btn-group">
    <label class="btn btn-primary" ng-model="articleType.news" uib-btn-checkbox>Новини</label>
    <label class="btn btn-primary" ng-model="articleType.emis" uib-btn-checkbox>Анализи на EMI</label>
    <label class="btn btn-primary" ng-model="articleType.summaries" uib-btn-checkbox>Анализи Резюмета</label>
   </div>

  <div class="btn-group">
    <label class="btn btn-primary" ng-model="article.published" uib-btn-checkbox>Публикувано</label>
  </div>

  <button class="pull-right" ng-click="cancel()">Отказ</button>
  <uib-tabset>
    <uib-tab heading="Редакция">
      <form>
        <div class="form-group">
          <label>Автор Кирилица</label>
          <input type="text" class="form-control" placeholder="Автор" ng-model="article.author.bg">
        </div>
        <div class="form-group">
          <label>Автор Латиница</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Author" ng-model="article.autor.en">
        </div>
        <div class="form-group">
          <h3><b>
            <div ui-tinymce="titleBgOptions" ng-model="title.bg" placeholder="Заглавие на Български"></div>
          </b></h3>
          <md-divider></md-divider>
          <div ui-tinymce="htmlBgOptions" ng-model="html.bg" placeholder="Съдържание на Български"></div>
           
          
        </div>
        <div class="form-group">
          <h3><b>
            <div ui-tinymce="titleEnOptions" ng-model="title.en" placeholder="Заглавие на Английски"></div>
          </b></h3>
          <md-divider></md-divider>
          <div ui-tinymce="htmlEnOptions" ng-model="html.en" placeholder="Съдържание на Английски"></div>
        </div>
        <div class="form-group">
          <label>Тагове</label>
          <input type="text" class="form-control" placeholder="таг1 таг2" ng-model="article.tags">
        </div>
      </form>
    </uib-tab>
    <uib-tab heading="Изглед">
       <div class="row">
         <div class="col-sm-12 col-md-4">
           <tile-article/>
         </div>
         <div class="col-sm-12 col-md-8">
           <flat-article/>
         </div>
       </div>
       <div class="row">
         <h3><b>{{ article.title | lang }}</b></h3>
         <md-divider></md-divider>
         <p><div ng-bind-html="bgHtml || article.html.bg"></div></p>
       </div>
    </uib-tab>
  </uib-tabset>
</div>
