<div ng-controller="AdminChartsCtrl" layout="column">
   <ui-view/>
   <div >
       <div ng-repeat="rowCharts in charts" layout="column" layout-fill style="padding-bottom: 13px;" >
          <div class="row">
            <div class="col-sm-6 col-md-6" ng-repeat="chart in rowCharts">
              <flat-admin-chart></flat-admin-chart>
            </div>
          </div>
       </div>
       {{'PAGE' | translate}} {{page}} {{'OF' | translate}} {{pageCount}}
       <md-button ng-click="previousPage()" class="md-primary md-raised" ng-disabled="!hasPrev()"><</md-button>
       <md-button ng-click="nextPage()" class="md-primary md-raised" ng-disabled="!hasNext()">></md-button>
   </div>
</div>
