<div ng-controller="AdminChartCtrl">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>

  <button class="btn btn-success" ng-click="save()">Запис</button>
  <button class="pull-right" ng-click="cancel()">Отказ</button>
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <chart-panel></chart-panel>
      <form>
        <div class="form-group">
          <label>Заглавие Кирилица:</label>
          <input type="text" class="form-control" placeholder="Заглавие" ng-model="chart.title.bg">
        </div>
        <div class="form-group">
          <label>Заглавие на Английски:</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Заглавие на Английски" ng-model="chart.title.en">
        </div>
      </form>
    </div>
    <div class="col-sm-12 col-md-5">
      <label>
        <input type="radio" ng-model="chart.type" value="chart-pie">
        Kръгова
      </label><br/>
      <label>
        <input type="radio" ng-model="chart.type" value="chart-bar">
        Колонна
      </label><br/>
      <label>
        <input type="radio" ng-model="chart.type" value="chart-line">
        Линейна
      </label><br/>
      <label>
        <input type="checkbox" ng-model="chart.legend">
        Показване на легенда
       </label><br/>
       <div class="row">
         <div class="col-md-4">
          <label>
            Етикети:
            <textarea style="height:450px" ng-model="edit.labels"></textarea>
           </label><br/>
         </div>
         <div class="col-md-4">
            <label>
              Данни:
              <textarea style="height:450px" ng-model="edit.data"></textarea>
             </label><br/>
         </div>
         <div class="col-md-4">
          <label ng-hide="chart.type === 'chart.pie'">
            Серия:
            <textarea style="height:450px" ng-model="edit.series"></textarea>
           </label><br/>
         </div>
       </div>
    </div>
 </div>
</div>
