<div ng-controller="AdminEventCtrl">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  <button ng-click="save()">Запис</button>

  <div class="btn-group">
    <label class="btn btn-primary" ng-model="event.published" uib-btn-checkbox>Публикувано</label>
  </div>

  <button class="pull-right" ng-click="cancel()">Отказ</button>
  <uib-tabset>
    <uib-tab heading="Редакция">
        <div class="form-group">
          <image-picker image="event.image" width="400px", height="300px"></image-picker>
        </div>
      <div class="row">
         <div class="col-md-4">
            Начална дата и час:
            <datetimepicker 
              data-ng-model="startDate" 
              data-on-set-time="setStartDate(newDate, oldDate)" 
              data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle' }">
            </datetimepicker>
         </div>
         <div class="col-md-4">
            Крайна дата и час:
            <datetimepicker 
              data-ng-model="endDate"
              data-on-set-time="setDateDate(newDate, oldDate)">
            </datetimepicker>
         </div>
         <div class="col=md-4">
            <div class="dropdown">
                <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                    Click here to show calendar
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="startDate"
                                    data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle' }"></datetimepicker>
                </ul>
            </div>
         </div>
      </div>
      <form>
        <div class="form-group">
          <label>Организатор Кирилица</label>
          <input type="text" class="form-control" placeholder="Моля въведете Организатор" ng-model="event.organiser.bg">
        </div>
        <div class="form-group">
          <label>Организатор Латиница</label>
          <input type="text" class="form-control" placeholder="OrganiserОрганизатор на Английски" ng-model="event.organiser.en">
        </div>
        <div class="form-group">
          <label>Тип достъп</label>
          <input type="text" class="form-control" placeholder="Моля въведете тип достъп например 'Чрез регистрация'" ng-model="event.access.bg">
        </div>
        <div class="form-group">
          <label>Тип достъп на Английски</label>
          <input type="text" class="form-control" placeholder="Моля въведете тип достъп на Английски" ng-model="event.access.en">
        </div>
        <div class="form-group">
          <label>Тип на събитието</label>
          <input type="text" class="form-control" placeholder="Моля въведете типа на събитието например 'Международна конферения'" ng-model="event.type.bg">
        </div>
        <div class="form-group">
          <label>Тип на събитието на Английски</label>
          <input type="text" class="form-control" placeholder="Моля въведете типа на събитието на Английски" ng-model="event.type.en">
        </div>
        <div class="form-group">
          <label>Място на събитието</label>
          <input type="text" class="form-control" placeholder="Моля въведете мястото на събитието например 'Хотел Шератон'" ng-model="event.place.bg">
        </div>
        <div class="form-group">
          <label>Място на събитието на Английски</label>
          <input type="text" class="form-control" placeholder="Моля въведете мястото на събитието на Английски" ng-model="event.place.en">
        </div>
      </form>
        <p>
          <h3><b>
            <div ui-tinymce="titleBgOptions" ng-model="title.bg" placeholder="Заглавие на Български"></div>
          </b></h3>
        </p>
        <md-divider></md-divider>
        <p>
          <div ui-tinymce="htmlBgOptions" ng-model="html.bg" placeholder="Съдържание на Български"></div>
        </p>
        <p>
          <h3><b>
            <div ui-tinymce="titleEnOptions" ng-model="title.en" placeholder="Заглавие на Английски"></div>
          </b></h3>
        </p>
        <md-divider></md-divider>
        <p>
          <div ui-tinymce="htmlEnOptions" ng-model="html.en" placeholder="Съдържание на Английски"></div>
        </p>
      <form>
        <div class="form-group">
          <label>Тагове</label>
          <input type="text" class="form-control" placeholder="таг1 таг2" ng-model="events.tags">
        </div>
      </form>
    </uib-tab>
    <uib-tab heading="Изглед">
       <div class="row">
         <div class="col-sm-12 col-md-4">
           <tile-event/>
         </div>
         <div class="col-sm-12 col-md-8">
           <div class="row">
              <div class="col-md-12">
                <carousel>
                  <slide>
                    <emi-image image="event.image" width="100%" height="520px"></emi-image>
                    <div class="carousel-caption">
                      <h2>{{event.title | lang}}</h2>
                      <h4> {{event.html | lang | htmlToPlainText | limitTo: 180}}...</h4>
                    </div>
                  </slide>
                </carousel>
              </div>
           </div>
           <div class="row">
              <div class="col-md-12">
                <flat-event/>
              </div>
           </div>
         </div>
       </div>
       <div class="row">
         <h3><b>{{ eevnt.title | lang }}</b></h3>
         <md-divider></md-divider>
         <p><div ng-bind-html="bgHtml || event.html.bg"></div></p>
       </div>
    </uib-tab>
  </uib-tabset>
</div>
