<div ng-controller="AdminEventsCtrl">
   <ui-view/>
   <div >
     <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" bind-html-compile="alert.msg"></uib-alert>
     <div class="info-row-admin-large">
       <div class="admin btn-group">
         <label class="btn btn-success" ng-model="publishedFilter.published" uib-btn-checkbox>Публикувани</label>
         <label class="btn btn-success" ng-model="publishedFilter.notPublished" uib-btn-checkbox>Непубликувани</label>
       </div>
       <label class="btn btn-danger" ui-sref="app.admin.newevent">Създаване на ново събитие</label>
      </div>
      <nav>
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous" ng-click="previousPage()" ng-disabled="!hasPrev()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
           <li class="disabled"><a href="#">{{'PAGE' | translate}} {{page}} {{'OF' | translate}} {{pageCount}}</a></li>
          <li>
            <a href="#" aria-label="Next" ng-click="nextPage()" ng-disabled="!hasNext()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

       <div ng-repeat="event in events">
         <div class="col-sm-12 col-md-12">
            <flat-admin-event></flat-admin-event>
         </div>
       </div>
      <nav>
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous" ng-click="previousPage()" ng-disabled="!hasPrev()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
           <li class="disabled"><a href="#">{{'PAGE' | translate}} {{page}} {{'OF' | translate}} {{pageCount}}</a></li>
          <li>
            <a href="#" aria-label="Next" ng-click="nextPage()" ng-disabled="!hasNext()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
   </div>
</div>
