<div ng-controller="AdminEventCtrl">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  <div class="info-row-admin">
    <button class="btn btn-success" ng-click="save()">Запис</button>
    <div class="btn-group">&nbsp;
      <input type="checkbox" ng-model="event.published">&nbsp;Публикувано</label>
    </div>
    <button class="btn btn-danger" style="float:right;" ng-click="cancel()">Отказ</button>
  </div>
  <uib-tabset>
    <uib-tab heading="Редакция">
      <div class="form-group">
        <image-picker image="event.image" width="400px", height="300px"></image-picker>
      </div>
      <div style="margin-bottom: 20px;">
        <form class="form-horizontal" role="form">
          <div class="form-group" style="background-color:#f8f8f8; padding:0.4%;">
            <label class="control-label col-sm-3" for="email" style="text-align: left; padding-top: 0px;">Начална дата и час</label>
              <div class="col-sm-9">
                <input style="line-height: inherit;"
                     type="date"
                     name="input"
                     ng-model="newstart.date"
                     placeholder="yyyy-MM-dd"
                     min="0001-01-01"
                     ng-change="setStartDate()"/>
                <input style="line-height: inherit;" type="time" name="input" ng-model="newstart.time" placeholder="HH:mm" min="00:00" max="23:59" required ng-change="setStartDate()"/>
              </div>
          </div>
          <div class="form-group" style="background-color:#f8f8f8; padding:0.4%;">
            <label class="control-label col-sm-3" for="pwd" style="text-align: left; padding-top: 0px;">Крайна дата и час</label>
            <div class="col-sm-9"> 
              <input style="line-height: inherit;"
                   type="date"
                   name="input"
                   ng-model="newend.date" placeholder="yyyy/MM/dd" min="0001-01-01" ng-max="3099-01-01" required ng-change="setEndDate()"/>
              <input style="line-height: inherit;" type="time" name="input" ng-model="newend.time" placeholder="HH:mm" min="00:00" max="23:59" required ng-change="setEndDate()"/>
            </div>
          </div>
        </form>
      </div>
  
      <form>
        <div class="form-group">
          <label>Организатор (на Български)</label>
          <input type="text" class="form-control" placeholder="Организатор" ng-model="event.organiser.bg">
        </div>
        <div class="form-group">
          <label>Организатор (на Английски)</label>
          <input type="text" class="form-control" placeholder="Организатор (на Английски)" ng-model="event.organiser.en">
        </div>
        <div class="form-group">
          <label>Тип достъп (на Български)</label>
          <input type="text" class="form-control" placeholder="Tип достъп (на Български)" ng-model="event.access.bg">
        </div>
        <div class="form-group">
          <label>Тип достъп (на Английски)</label>
          <input type="text" class="form-control" placeholder="Tип достъп (на Английски)" ng-model="event.access.en">
        </div>
        <div class="form-group">
          <label>Вид на събитието (на Български)</label>
          <input type="text" class="form-control" placeholder="Tип на събитието (на Български)" ng-model="event.type.bg">
        </div>
        <div class="form-group">
          <label>Вид на събитието (на Английски)</label>
          <input type="text" class="form-control" placeholder="Tип на събитието (на Английски)" ng-model="event.type.en">
        </div>
        <div class="form-group">
          <label>Място на събитието (на Български)</label>
          <input type="text" class="form-control" placeholder="Mясто на събитието (на Български)" ng-model="event.place.bg">
        </div>
        <div class="form-group">
          <label>Място на събитието (на Английски)</label>
          <input type="text" class="form-control" placeholder="Mясто на събитието (на Английски)" ng-model="event.place.en">
        </div>
      </form>
        <p>
          <label>Заглавие (на Български)</label>
          <h3><b>
            <input type="text" class="form-control" placeholder="Заглавие (на Български)" ng-model="event.title.bg">
          </b></h3>
        </p>
        <md-divider></md-divider>
        <p>
          <label>Съдържание (на Български)</label>
          <div style="height:400px" ui-tinymce="htmlBgOptions" ng-model="html.bg" placeholder="Съдържание (на Български)"></div>
        </p>
        <p>
          <label>Заглавие (на Английски)</label>
          <h3><b>
            <input type="text" class="form-control" placeholder="Заглавие (на Английски)" ng-model="event.title.en">
          </b></h3>
        </p>
        <md-divider></md-divider>
        <p>
          <div style="height:400px" ui-tinymce="htmlEnOptions" ng-model="html.en" placeholder="Съдържание (на Английски)"></div>
        </p>
      <form>
        <div class="form-group">
          <label>Тагове</label>
          <input type="text" class="form-control" placeholder="таг1, таг2" ng-model="events.tags">
        </div>
      </form>
    </uib-tab>
    <uib-tab heading="Изглед">
       <div class="row">
         <div class="col-sm-12 col-md-4">
           <tile-event/>
         </div>
         <div class="col-sm-12 col-md-8">
           <div class="row">
              <div class="col-md-12">
                <carousel>
                  <slide>
                    <emi-image image="event.image" width="100%" height="520px"></emi-image>
                    <div class="carousel-caption">
                      <h2>{{event.title | lang}}</h2>
                      <h4> {{event.html | lang | htmlToPlainText | limitTo: 180}}...</h4>
                    </div>
                  </slide>
                </carousel>
              </div>
           </div>
           <div class="row">
              <div class="col-md-12">
                <flat-event/>
              </div>
           </div>
         </div>
       </div>
       <div class="row">
         <h3><b>{{ event.title | lang }}</b></h3>
         <md-divider></md-divider>
         <p><div ng-bind-html="bgHtml || event.html.bg"></div></p>
       </div>
    </uib-tab>
  </uib-tabset>
</div>
