<div ng-controller="AdminEventsCtrl" layout="column">
   <ui-view/>
   <div >
       <div ng-repeat="event in events" layout="column" layout-fill style="padding-bottom: 13px;" >
         <div class="col-sm-12 col-md-12">
            <flat-admin-event></flat-admin-event>
         </div>
       </div>
      <nav>
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous" ng-click="previousPage()" ng-disabled="!hasPrev()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
           <li class="disabled"><a href="#">{{'PAGE' | translate}} {{page}} {{'OF' | translate}} {{pageCount}}</a></li>
          <li>
            <a href="#" aria-label="Next" ng-click="nextPage()" ng-disabled="!hasNext()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
   </div>
</div>
