<div class="flat-article-event admin">
    <div class="media">
      <a class="media-left" href="#" ui-sref="app.admin.event({ id: event.id })">
        <div class="media-object">
          <emi-image image="event.image" width="120px" height="90px"></emi-image>
        </div>
      </a>
      <div class="media-body">
        <h4 class="media-heading">{{event.title | lang | limitTo:60}}&nbsp;&nbsp;<span class="label label-danger" style="float:right; margin:2px;"><a href="#" ng-click="delete(event.id)"><i class="fa fa-trash-o fa-lg"></i></a></span></h4>
        <p style="padding-top:2px; border-top:1px solid #E6E6E6;"><span style="color:#D9534F">{{event.published ? "Публикуванo" : "Непубликуванo"}}</span>, Автор: {{event.author.bg}}, Организатор: {{event.organiser.bg}}</p>
        <p> <b>Референция за началната страница: </b><span style="color:#2A5A2A">{{event.itemId}}</span></p>
      </div>
    </div>
</div>

