<div class="flat-article-event">
    <div class="media">
      <a class="media-left" href="#" ui-sref=".article({ id: article.id })">
      <div class="media-object">
            <div liquid-cfg="article.image.config" style="width:100%; height:80px;" class="img-thumbnail">
               <img ng-src="{{article.image.url}}"></img>
            </div>
        </div>
      </a>
      <div class="media-body">
        <h4 class="media-heading">{{article.title | lang | limitTo:80}}</h4>
        <p>{{article.html | lang | htmlToPlainText | limitTo: 210}}...</p>
      </div>
    </div>
</div>

