<div class="flat-article-event">
    <div class="media">
      <a class="media-left" href="#" ui-sref="app.admin.event({ id: event.id })">
        <div class="media-object">
          <emi-image image="event.image" width="120px" height="90px"></emi-image>
        </div>
      </a>
      <div class="media-body">
        <h4 class="media-heading">{{event.title | lang | limitTo:80}}</h4>
        <p>{{event.html | lang | htmlToPlainText | limitTo: 210}}...</p>
        <p><b>{{event.published ? "Публикувана" : "Непубликувана"}}, Организатор: {{event.organiser.bg}}</b></p>
        <p> <b>Референция за началната страница: </b> {{event.itemId}} </p>
      </div>
    </div>
</div>

