<div ng-controller="AdminHomepageCtrl">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  <div class="info-row-admin">
    <button class="btn btn-success" ng-click="save()">Запис</button>
    <button class="btn btn-danger" style="float:right;" ng-click="cancel()">Отказ</button>
  </div>
  <form style="margin-top:20px;">
    <div class="form-group" ng-repeat="item in items">
      <label><span style="color:#2A5A2A">Слайд {{$index + 1}} референция:</span>&nbsp;&nbsp;&nbsp;<span style="font-size: 120%;">Заглавие: {{itemTitles[$index]}}</span></label>
      <input type="text" class="form-control" style="color:#2A5A2A" placeholder="Въведете номер на статия" ng-model="item.itemId" ng-change="updateItemTitle(item.itemId, $index)">
    </div>
    <div class="form-group">
      <label><span style="color:#30547F;"> Графика 1, Слайд 1:</span> &nbsp;&nbsp;&nbsp;<span style="font-size: 120%;">Заглавие: {{chartTitles[0][0]}}</span></label>
      <input type="text" class="form-control" style="color:#30547F" placeholder="Въведете номер на статия" ng-model="charts[0].charts[0]" ng-change="updateChartTitle(0,0)">
    </div>
    <div class="form-group">
      <label><span style="color:#30547F;">Графика 2, Слайд 1:</span>&nbsp;&nbsp;&nbsp;<span style="font-size: 120%;">Заглавие: {{chartTitles[0][1]}}</span></label>
      <input type="text" class="form-control" style="color:#30547F" placeholder="Въведете референция на графика" ng-model="charts[0].charts[1]" ng-change="updateChartTitle(0,1)">
    </div>
    <div class="form-group">
      <label><span style="color:#30547F;">Графика 3, Слайд 1:</span>&nbsp;&nbsp;&nbsp;<span style="font-size: 120%;">Заглавие: {{chartTitles[0][2]}}</span></label>
      <input type="text" class="form-control" style="color:#30547F" placeholder="Въведете референция на графика" ng-model="charts[0].charts[2]"ng-change="updateChartTitle(0,2)">
    </div>
    <div class="form-group">
      <label><span style="color:#30547F;">Графика 1, Слайд 2:</span>&nbsp;&nbsp;&nbsp;<span style="font-size: 120%;">Заглавие: {{chartTitles[1][0]}}</span></label>
      <input type="text" class="form-control" style="color:#30547F" placeholder="Въведете референция на графика" ng-model="charts[1].charts[0]"ng-change="updateChartTitle(1,0)">
    </div>
    <div class="form-group">
      <label><span style="color:#30547F;">Графика 2, Слайд 2:</span>&nbsp;&nbsp;&nbsp;<span style="font-size: 120%;">Заглавие: {{chartTitles[1][1]}}</span></label>
      <input type="text" class="form-control" style="color:#30547F" placeholder="Въведете референция на графика" ng-model="charts[1].charts[1]"ng-change="updateChartTitle(1,1)">
    </div>
    <div class="form-group">
      <label><span style="color:#30547F;">Графика 3, Слайд 2:</span>&nbsp;&nbsp;&nbsp;<span style="font-size: 120%;">Заглавие: {{chartTitles[1][2]}}</span></label>
      <input type="text" class="form-control" style="color:#30547F" placeholder="Въведете референция на графика" ng-model="charts[1].charts[2]"ng-change="updateChartTitle(1,2)">
    </div>
    <div class="form-group">
      <label>Видео:</label>
      <input type="text" class="form-control" placeholder="Въведете YouTube видео линк" ng-model="video.videoUrl">
      <iframe width="100%" height="250px" src="{{videoUrl}}" frameborder="0" allowfullscreen style:"padding:10%"></iframe>
      </iframe>
    </div>
  </form>
</div>
