<div class="article-event flat" ui-sref=".article({ id: article.id })">
    <div class="media">
      <div class="media-left">
        <div liquid-cfg="article.image.config" style="width:100%; height:80px;" class="img-thumbnail">
           <img ng-src="{{article.image.url}}"></img>
        </div>
        <img class="media-object" ng-src="{{article.tumb}}">
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{article.title | lang | limitTo:100}}</h4>
      </div>
    </div>
</div>

