<!-- Footer 
<footer class="footer">
    <div class="container" style="margin:0 auto;">
        <div class="row">
            <div class="col-md-4 col-sd-4 ">
                <h4>Company</h4>
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sd-4 ">
                <h4>Resource</h4>
                <ul>
                    <li><a href="">Get help</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Support</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sd-4">
                <h4>Connect</h4>
                <ul>
                    <li><a href="" title="Facebook">Facebook</a></li>
                    <li><a href="" title="Twitter">Twitter</a></li>
                    <li><a href="" title="LinkedIn">LinkedIn</a></li>
                    <li><a href="" title="Google+">Google+</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
End of footer -->

<footer id="footer">       
      <div class="footer">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="footer_widget wow fadeInLeftBig">
              <h2>Company</h2>
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact</a></li>
                </ul>    
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="footer_widget wow fadeInDown">
              <h2>Connect</h2>
              <ul>
                    <li><a href="" title="Facebook">Facebook</a></li>
                    <li><a href="" title="Twitter">Twitter</a></li>
                    <li><a href="" title="LinkedIn">LinkedIn</a></li>
                    <li><a href="" title="Google+">Google+</a></li>
                </ul>              
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="footer_widget wow fadeInRightBig">
              <h2>Contact</h2>
              <p>{{'EMI' | translate }}</p>
              <address>
                {{'ADDRESS' | translate }}
                {{'SOFIA_1000' | translate }}
                {{'STREET' | translate }}
                {{'FLOOR' | translate }}
              </address>              
            </div>
          </div>
        </div>
      </div>           
    </footer>




    <!-- jQuery Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
  <!-- For content animatin  -->
  <script src="js/wow.min.js"></script>
  <!-- bootstrap js file -->
  <script src="js/bootstrap.min.js"></script> 
  <!-- slick slider js file -->
  <script src="js/slick.min.js"></script> 
  <!-- news ticker jquery file -->
  <script src="js/jquery.li-scroller.1.0.js"></script>
  <!-- for news slider -->
  <script src="js/jquery.newsTicker.min.js"></script>
  <!-- for fancybox slider -->
  <script src="js/jquery.fancybox.pack.js"></script>
  <!-- custom js file include -->    
  <script src="js/custom.js"></script> 

