<footer class="footer" ng-controller="FooterCtrl">
    <div class="container">     
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-4 col-md-4">
            <div class="footer_widget">
              <h2><a href="#" ui-sref="app.menu.home" ng-click="scrollToTop()"><i class="fa fa-home"></i>&nbsp;{{'HOME' | translate }}</h2>
                <ul>
                    <li><a href="#" ui-sref="app.menu.news({page: 1})" ng-click="scrollToTop()"><i class="fa fa-file-text-o"></i>&nbsp;{{'NEWS' | translate }}</a></li>
                    <li><i class="fa fa-balance-scale"></i>&nbsp;{{'ANALYSIS' | translate }}</li>
                        <ul>
                             <li><a href="#" ui-sref="app.menu.analysis.emis({page: 1})" ng-click="scrollToTop()"><i class="fa fa-book"></i>&nbsp;{{'EMIS_ANALYSIS' | translate }}</a></li>
                             <li><a href="#" ui-sref="app.menu.analysis.summaries({page: 1})" ng-click="scrollToTop()"><i class="fa fa-area-chart"></i>&nbsp;{{'SUMMARIES' | translate }}</a></li>
                        </ul>
                    <li><a href="" ui-sref="app.menu.events({page: 1})" ng-click="scrollToTop()"><i class="fa fa-calendar"></i>&nbsp;{{'EVENTS' | translate }}</a></li>
                    <li><a href="" ui-sref="app.menu.energopedia" ng-click="scrollToTop()"><i class="fa fa-bolt"></i>&nbsp;{{'ENERGOPEDIA' | translate }}</a></li>
                    <li><a href="#" ui-sref="app.menu.partners" ng-click="scrollToTop()"><i class="fa fa-users"></i>&nbsp;{{'PARTNERS' | translate }}</a></li>
                </ul>    
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="footer_widget">
              <h2>{{'FOLLOW' | translate }}</h2> 
              <div class="social_link">
                <ul class="sociallink_nav">
                    <li><a href="https://www.facebook.com/Energy-Management-Institute-113406378721586/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/EMI_Bulgaria" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/energy-management-institute-emi-?trk=pro_other_cmpy" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.xing.com/companies/energymanagementinstitute?current=1&literal=Energy+Management+Institute" title="Xing" target="_blank"><i class="fa fa-xing"></i></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCxAhzzgkhS3xYjVRp3c_U0A" target="_blank"><i class="fa fa-youtube"></i></i></a></li>
                </ul>
              </div> 


              <h2>{{'LANGUAGE' | translate }}</h2> 
                <div class="language-footer">
                  <a ng-href="{{otherLangURL}}">
                    <button type="button" class="btn btn-warning">
                      {{'OTHER_LANG' | translate }}
                    </button>
                  </a>
                </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="footer_widget">
              <h2>{{'CONTACT' | translate }}</h2>
              <h5 style="font-weight: bold">{{'EMI' | translate }}</h5>
              <a href="mailto:emi@emi-bg.com">
                <span class="glyphicon glyphicon-envelope"></span>
                &nbsp; emi@emi-bg.com
              </a>
              </p>
              <p>
                <a href="tel:{{'TEL' | translate }}">
                  <span class="glyphicon glyphicon-earphone">
                  </span>&nbsp;&nbsp;&nbsp;{{'TEL' | translate }}
                </a>
              </p>
              <address> 
                <a href="#" ui-sref="app.menu.about.contact" ng-click="scrollToTop()">
                  <span class="glyphicon glyphicon-map-marker"></span>
                  &nbsp;{{'SOFIA_1000' | translate }}
                  {{'STREET' | translate }}
                  {{'FLOOR' | translate }}
                </a>
              </address> 
            </div>
          </div>
        </div>
      </div> 
  </div>          
</footer>
