<div class="contentSection">
  <div class="left_content">
     <div class="single_page" ng-controller="FullArticleCtrl">
       <div>
         <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
         <div class="single_page_content">
           <h1>{{article.title | lang }}</h1>
           <div class="post_commentbox">
              <span><i class="fa fa-user"></i>{{'AUTHOR' | translate}}:&nbsp<b>{{article.author | lang }}</b></span>
              <span><i class="fa fa-calendar"></i>{{'DATE' | translate}}:&nbsp<b>{{ article.publicationDate | date:'dd-MM-yyyy' }}</b></span>
              <!-- <span><i class="fa fa-tags"></i>{{article.tags | lang}}</span> -->
            </div>
                <p><div ng-bind-html="articleHtml"></div></p>
          </div>
        </div>

            <div class="social_link">
              <ul class="sociallink_nav">
                <li><a href="" social-facebook><i class="fa fa-facebook"></i></a></li>
                <li>
                  <a href="" social-twitter status="{{article.title | lang}} {{location}}"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="" social-gplus><i class="fa fa-google-plus"></i></a></li>
                <li><a href="" social-linkedin><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
         </div>
    </div>
</div>

