<div class="contentSection">
	<div class="left_content">
        <div class="single_page">
			<div ng-controller="FullArticleCtrl">
			    <div class="single_page_content">
			    	<h1>{{ article.title | lang }}</h1>
			    	<p><div ng-bind-html="articleHtml"></div></p>
			    </div>
			</div>
			<div class="social_link">
				<ul class="sociallink_nav">
				  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
				  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
				  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
