<div layout="column">
   <ui-view/>
   <div ng-controller="SliderCtrl">
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}" style="width:100%;" class="img-thumbnail">
          <div class="carousel-caption">
            <h2>{{slide.title | lang}}</h2>
            <p>{{slide.text | lang}}</p>
          </div>
        </slide>
      </carousel>
  </div>
   <div ng-controller="HomeCtrl" class="single_post_content">
      <br/>
        <h2>
          <span>{{'NEWS' | translate }}</span>
        </h2> 
      <div class="row">
        <div class="col-sm-6 col-md-6">
            <div ng-repeat="article in mainNews" layout="column" layout-fill style="padding-bottom: 13px;">
                <tile-article/>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div ng-repeat="article in news" layout="column" layout-fill style="padding-bottom: 7px;">
               <flat-article/>
            </div>
        </div>
      </div>
      <br/>
      <div class="row">
          <div class="col-sm-6 col-md-6">
            <h2>
              <span>{{'ANALYSIS' | translate }}</span>
            </h2>
            <div ng-repeat="article in mainAnalysis" layout="column" layout-fill>
                <tile-article/>
            </div>
            <br/>
            <div ng-repeat="article in analysis" layout="column" layout-fill style="padding-bottom: 7px;">
                <flat-article/>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <h2>
              <span>{{'EVENTS' | translate }}</span>
            </h2>
            <div ng-repeat="event in mainEvent" layout="column" layout-fill>
                <tile-event/>
            </div>
            <br/>
            <div ng-repeat="event in events" layout="column" layout-fill style="padding-bottom: 7px;">
                <flat-event/>
            </diiv>
          </div>
      </div>
   </div>
</div>
