<div layout="column">
   <ui-view/>
   <div ng-controller="HomeCtrl">
      <div>
          <carousel interval="myInterval">
            <slide ng-repeat="slide in slideItems" active="slide.active">
              <div  class="clickable" us-sref="{{slide.sref}}">
                <img ng-src="{{slide.tumb}}" style="width:100%;" class="img-thumbnail">
                <div class="carousel-caption">
                  <h2>{{slide.title | lang}}</h2>
                  <p> {{slide.html | lang | htmlToPlainText | limitTo: 180}}...</p>
                </div>
              </div>  
            </slide>
          </carousel>
      </div>
      <br/>
      <div style="width: 100%; text-align: center; font-size:200%;">
            {{'NEWS' | translate }}
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6">
            <div ng-repeat="article in mainNews" layout="column" layout-fill style="padding-bottom: 13px;">
                <tile-article/>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div ng-repeat="article in news" layout="column" layout-fill style="padding-bottom: 7px;">
               <flat-article/>
            </div>
        </div>
      </div>
      <br/>
      <div class="row">
          <div class="col-sm-6 col-md-6">
            <div style="width: 100%; text-align: center; font-size:200%;">
              {{'ANALYSIS' | translate }}
            </div>
            <div ng-repeat="article in mainAnalysis" layout="column" layout-fill>
                <tile-article/>
            </div>
            <br/>
            <div ng-repeat="article in analysis" layout="column" layout-fill style="padding-bottom: 7px;">
                <flat-article/>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div style="width: 100%; text-align: center; font-size:200%;">
              {{'EVENTS' | translate }}
            </div>
            <div ng-repeat="event in mainEvent" layout="column" layout-fill>
                <tile-event/>
            </div>
            <br/>
            <div ng-repeat="event in events" layout="column" layout-fill style="padding-bottom: 7px;">
                <flat-event/>
            </diiv>
          </div>
      </div>
   </div>
</div>
