  <div class="col-sm-4 col-md-4">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <md-whiteframe class="md-whiteframe-z4" layout layout-align="center" >
            <div ng-include="'fragments/charts.html'"></div>
        </md-whiteframe>
      </div>
    </div>
    </p>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <md-whiteframe class="md-whiteframe-z4" layout layout-align="center" >
            <iframe src="https://player.vimeo.com/video/24632029?color=10f000" width="350" height="225" frameborder="0"></iframe>
        </md-whiteframe>
      </div>
    </div>
    </p>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <md-whiteframe class="md-whiteframe-z4" layout layout-align="center" >
           <div ng-controller="CalendarCtrl">
               <div ui-calendar="uiConfig" class="calendar" ng-model="eventSources"></div>
           </div>
        </md-whiteframe>
      </div>
    </div>
    </p>
  </div>

