<div>
  
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="euroelectric">
      <a href="http://www.eurelectric.org/" target="_blank">
        <img src="/images/euroelectric.jpg" alt="Euroelectric">
      </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div ng-include="'fragments/charts.html'"></div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div ng-controller="CalendarCtrl">
          <div ui-calendar="uiConfig" class="calendar" ng-model="eventSources"></div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12 col-md-12" ng-controller="HomeVideoCtrl">
      <iframe width="100%" height="250px" src="{{video}}" frameborder="0" allowfullscreen style:"padding:10%"></iframe>
      </iframe>
    </div>
  </div>
  
</div>
