<div ng-controller="SummariesAnalysisCtrl" layout="column">
   <ui-view/>
   <div >
       <div ng-repeat="rowArticles in summariesAnalysis" layout="column" layout-fill style="padding-bottom: 13px;" >
            <div class="row">
               <div class="col-sm-6 col-md-6" ng-repeat="article in rowArticles">
                  <flat-article></flat-article>
               </div>
           </div>
       </div>
       {{'PAGE' | translate}} {{page}} {{'OF' | translate}} {{pageCount}}
       <md-button ng-click="previousPage()" class="md-primary md-raised" ng-disabled="!hasPrev()"><</md-button>
       <md-button ng-click="nextPage()" class="md-primary md-raised" ng-disabled="!hasNext()">></md-button>
   </div>
</div>
