<md-whiteframe class="md-whiteframe-z4 clickable" layout layout-align="left center" ui-sref=".article({ id: article.id })">
  <md-card class="clickable" ui-sref=".article({ id: article.id })">
    <div liquid-cfg="article.image.config" style="width:100%; height:270px;">
      <img ng-src="{{article.image.url}}" alt="Washed Out">
    </div>
    <md-card-content class="text-snippet">
      <a href="">
        <h2 class="md-title">{{article.title | lang | limitTo:200}}</h2>
      </a>
      <p>
        {{article.html | lang | htmlToPlainText | limitTo: 180}}...
      </p>
    </md-card-content>
  </md-card>
</md-whiteframe>
