<figure class="article-event" ui-sref=".event({ id: event.id })">
    <div class="thumbnail">
      <div liquid-cfg="event.image.config" style="width:100%; height: 260px;">
        <img ng-src="{{event.image.url}}"></img>
      </div>
      <div class="caption">
            <div class="gradient-container">
              <h3>{{event.title | lang | limitTo:100}}</h3>
              <p>{{event.html | lang | htmlToPlainText | limitTo: 260}}...</p>
              <div class="gradient"></div>
            </div>
      </div>
    </div>
</figure>
