<md-whiteframe class="md-whiteframe-z4 clickable" layout layout-align="center center">
<md-whiteframe-content>
    <div style="border-bottom: 1px solid">
    <div class="row" style="margin: 5px;">
        <div class="col-sm-12 col-md-12">
            <div chart/>
        </div>
    </div>
    <div class="row" style="margin: 5px;">
        <div class="col-sm-12 col-md-12">
            <h4><b>{{chart.title}}</b></h4>
        </div>
    </div>
    </div>
    </md-whiteframe-content>
</md-whiteframe>
