<div class="wrapper-login" ng-controller="LoginCtrl">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  <form class="form-signin">
    <h4 class="form-signin-heading">Административен панел</h4>
    <input type="text" class="form-control" name="username" placeholder="Потребителски имейл" required="" autofocus="" ng-model="email" />
    <input type="password" class="form-control" name="password" placeholder="Потребителска парола" required="" ng-model="password" />
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Логин" ng-click="login()">Login</button>
  </form>
</div>