<div ng-controller="MenuCtrl">
<!-- Menu -->
    <nav class="navbar navbar-inverse" role="navigation" ng-show="searchVisible" class="ng-hide">
      <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" ng-click="hideSearch()">
                <i class="icon-left-big"></i>
               Назад
            </a>
              <form class="navbar-form navbar-left">
                  <input id="searchField" type="text" class="form-control" placeholder="Search" ng-model="search.text">
              </form>
          </div>
       </div>
    </nav>
    <nav class="navbar navbar-inverse" role="navigation" ng-show="!searchVisible">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container-fluid">
      <div class="navbar-header">

        <a ng-href="" class="navbar-toggle" ng-click="showSearch()">
          <i class="icon-search"></i>
        </a>
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" ui-sref="app.menu.home">
            <i class="icon-home"></i>
        </a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" >
      
        <ul class="nav navbar-nav">
          <li ui-sref-active="active">
            <a href="#" ui-sref="app.menu.news({page: 1})" ng-click="navCollapsed=true">
                <i class="icon-doc"></i>
                {{'NEWS' | translate }}
            </a>
          </li>
          <li class="dropdown" ui-sref-active="active" dropdown>
              <a href="#" ui-sref="app.menu.analysis" dropdown-toggle>
                <i class="icon-doc"></i>
                {{'ANALYSIS' | translate }} <b class="caret"></b>
              </a>
              <ul class="dropdown-menu inverse-dropdown">
                <li ui-sref-active="active">
                  <a href="#"ui-sref="app.menu.analysis.emis({page: 1})" ng-click="navCollapsed=true">
                    <i class="icon-doc"></i>
                    {{'EMIS_ANALYSIS' | translate }}
                  </a>
                </li>
                <li ui-sref-active="active">
                  <a href="#"ui-sref="app.menu.analysis.summaries({page: 1})" ng-click="navCollapsed=true">
                    <i class="icon-doc"></i>
                    {{'SUMMARIES' | translate}}
                  </a>
                </li>
              </ul>
          </li>
          <li ui-sref-active="active">
            <a href="#" ui-sref="app.menu.events({page: 1})" ng-click="navCollapsed=true">
                <i class="icon-doc"></i>
                {{'EVENTS' | translate }}
            </a>
          </li>
          <li ui-sref-active="active">
            <a href="#" ui-sref="app.menu.energopedia" ng-click="navCollapsed=true">
                <i class="icon-doc"></i>
                {{'ENERGOPEDIA' | translate }}
            </a>
          </li>
          <li ui-sref-active="active">
            <a href="#" ui-sref="app.menu.partners" ng-click="navCollapsed=true">
                <i class="icon-slideshare"></i>
                {{'PARTNERS' | translate }}
            </a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a ng-click="showSearch()">
              <i class="icon-search"></i>
            </a>
          </li>
          <li>
            <a ng-href="{{otherLangURL}}">
              <i class="icon-language"></i>
              <!--{{'OTHER_LANG' | translate }}-->
            </a>
          </li>
          <li ui-sref-active="active" dropdown>
            <a href="#" ui-sref="app.menu.about" dropdown-toggle>
                <i class="icon-vcard"></i>
                {{'ABOUT_US' | translate }} <b class="caret"></b>
            </a>
            <ul ui-sref-active="active" class="dropdown-menu inverse-dropdown">
              <li ui-sref-active="active">
                <a href="#" ui-sref="app.menu.about.mission" ng-click="navCollapsed=true">
                    <i class="icon-language"></i>
                    {{'MISSION' | translate }}
                </a>
              </li>
              <li ui-sref-active="active">
                <a href="#" ui-sref="app.menu.about.team" ng-click="navCollapsed=true">
                    <i class="icon-language"></i>
                    {{'TEAM' | translate }}
                </a>
              </li>
              <li ui-sref-active="active">
                <a href="#" ui-sref="app.menu.about.contact" ng-click="navCollapsed=true">
                    <i class="icon-location"></i>
                    {{'CONTACT' | translate }}
                </a>
              </li>
            </ul>
          </li>
        </ul>
        </div>
      </div><!-- /.navbar-collapse -->
      </div>
    </nav>
</div>
<!-- Menu end -->

<!--<div layout="row" layout-sm="column">
  <div flex="66" style="border-style: solid;border: 5px">
    <ui-view/>
  </div>
  <div flex="34" style="border-style: solid;border: 5px">
    [flex="34"]
  </div>
</div>-->

<div layout="row" layout-sm="column">
  <div flex="67" flex-sm="100" layout-margin >
    <ui-view/>
  </div>
  <div flex="33" flex-sm="100" layout="column">
        <md-whiteframe class="md-whiteframe-z4" layout layout-align="center" >
            <div ng-include="'fragments/charts.html'"></div>
        </md-whiteframe>
    </p>
        <md-whiteframe class="md-whiteframe-z4" layout layout-align="center" >
            <iframe src="https://player.vimeo.com/video/24632029?color=10f000" width="350" height="225" frameborder="0"></iframe>
        </md-whiteframe>
    </p>
        <md-whiteframe class="md-whiteframe-z4" layout layout-align="center" >
           <div ng-controller="CalendarCtrl">
               <div ui-calendar="uiConfig" class="calendar" ng-model="eventSources"></div>
           </div>
        </md-whiteframe>
    </p>
  </div>
</div>
