<md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <md-button>{{ 'HOME' | translate }}</md-button>
          <md-button>{{'ABOUT_US' | translate }}</md-button>
          <md-button>{{'CONTACT' | translate }}</md-button>
        </h2>
        <span flex></span>
        <div>
        <ng-include src="'fragments/lang.html'"></ng-include>
        </div>
      </div>
    </md-toolbar>
</div>

<!-- Top banner  -->
<div layout="row" layout-wrap>
</div>
<!-- Top banner end -->

<!-- Menu -->
    <nav class="navbar navbar-inverse" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" ui-sref="app.menu">{{'HOME' | translate }}</a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
      
        <ul class="nav navbar-nav">
          <li ui-sref-active="active"><a href="#" ui-sref="app.menu.news">{{'NEWS' | translate }}</a></li>
          <li class="dropdown" ui-sref-active="active">
              <a href="#" ui-sref="app.menu.analysis">{{'ANALYSIS' | translate }}</a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
          </li>
          <li ui-sref-active="active"><a href="#" ui-sref="app.menu.events">{{'EVENTS' | translate }}</a></li>
          <li ui-sref-active="active"><a href="#" ui-sref="app.menu.energopedia">{{'ENERGOPEDIA' | translate }}</a></li>
          <li ui-sref-active="active"><a href="#" ui-sref="app.menu.partners">{{'PARTNERS' | translate }}</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
<!-- Menu end -->

<div layout="row" layout-wrap>
  <div flex="66">
    [flex="66"]
    <ui-view/>
  </div>
  <div flex="34">
    [flex="34"]
  </div>
</div>
