<div ng-controller="SearchCtrl">
   <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
   <!-- <div class="search-info">{{'SEARCH_EVERYWHERE' | translate}}</div> -->
   <div >
       <div ng-repeat="rowItems in items">
           <div class="row">
               <div class="col-sm-6 col-md-6" ng-repeat="item in rowItems">
                 <div item></div>
               </div>
           </div>
       </div>
       <div ng-hide="!items.length">
       <nav>
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous" ng-click="previousPage()" ng-disabled="!hasPrev()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
           <li class="disabled"><a href="#">{{'PAGE' | translate}} {{page}} {{'OF' | translate}} {{pageCount}}</a></li>
          <li>
            <a href="#" aria-label="Next" ng-click="nextPage()" ng-disabled="!hasNext()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
       </div>
   </div>
   <div class="search-info" ng-hide="items.length">{{message}}</div>
</div>
